*{
    margin: 0;
    padding: 0;
}
body{
    margin-left: 20px;
    margin-right: 20px;
    /* background-color: blueviolet; */
    background-color: #b6f6df;

}
header{
    border-bottom: 2px solid black;
    /* position: fixed; */
    
}

.v1{
    text-transform: uppercase;
    /* display: inline-block; */
    margin: 10px;
    
  
   
}
#nav{
    float: right;
    /* padding-left: 15px;
    padding-right: 15px; */

    
}
#an{
    display: inline;
    text-shadow: 5px 3px 4px rgb(29, 31, 31);
            color: rgb(235, 128, 95);
    font-size: 25px;
}

#orange{
    /* color: rgb(234, 157, 15);
     */
     color: orangered;
}
#s1{
    width: 763px;
    height: 611px;
    /* background-color: blue; */
    float: right;
}
#s2{
    width: 419px;
    height: 566px;
    /* background-color: blueviolet; */
    float: left;
    font-size:45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: left;
    font-weight: bold;
    padding-top: 45px;
    
}
.c1{
    display: block;
}
#innerspan{
    font-size:20px;
    font-family:roboto;
    font-weight:bolder;

}
#apply{
    outline:0px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid orangered;
    background-color: orangered;
    color: beige;
    cursor:pointer;
}

/* ###################### */

#modern{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(13, 13, 105);
}
#a1{
    width: 520px;
    height: 435px;
    background-color: purple;
    float: left;
    margin-left:20px;
    
}
#a2{
    width: 520px;
    height: 435px;
    background-color:purple;
    float: right;
    margin-right:20px;
    
}
.c2{
    display:block;
    border-radius: 20px;
    
}
#ram{
    color:purple;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    /* background-color: pink; */
}
#ram:hover{
    border: 2px dashed black;
    color: rgb(8, 26, 8);
}
.innerdiv{
     width:520px;
    height: 180px;
    background-color:white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    font-family: sans-serif;
    font-style: roboto;
    
}
#innerimg{
    float: right;
    
}
#lightblue{
    color: rgb(23, 99, 143);
    
   
}
#dive{
    color: red;
    padding-top: 50px;
    padding-left: 15px;

}
#underdiv{
    padding-left: 40px;
    padding-top: 20px;
    font-family: sans-serif;
    font-weight:600;
    line-height:30px;
    background-color: rgb(178, 243, 66);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#ju{
    padding-left: 50px;
    padding-top: 20px;
    font-family: sans-serif;
    font-weight:600;
    line-height:30px;
    background-color: rgb(178, 243, 66);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
#b1{
    background-color: rgb(232, 149, 46);
}
#view{
    outline:0px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid orangered;
    background-color: orangered;
    color: beige;
    cursor:pointer;
    text-align: center;
    margin-left: 150px;
    margin-bottom: 5px;
}
#view2{
    outline:0px;
    width: 120px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid orangered;
    background-color: orangered;
    color: beige;
    cursor:pointer;
    text-align: center;
    margin-left: 150px;
    margin-bottom: 5px;

}
#techfit{
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bolder;
    color: rgb(13, 13, 105);

}
#weather{
    text-align: center;
    font-family: sans-serif;
    font-style: roboto;
    color: darkolivegreen;
    font-weight: bolder;    
}
.ramu{
    width:350px;
    background-color: rgb(131, 238, 209);
    height: 320px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
}

#img1{
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 5px;
}
.amit{
    padding-left: 5px;
    text-align: center;
}
.footerdiv{
    display: inline-block;
    margin-left: 80px;
    margin-right: 80px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: 30px;
   
    
}

.flist{
    list-style-type: none;
}
div ul li a{
    text-decoration: none;
    color: black;
}
#innerfdiv{
    margin-left: 80px;
    margin-top:20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding-left: 5px;
}
#lastdiv{
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}
#lastspan{
    color: purple;
}
#apply:hover{
    color: purple;
    background-color: whitesmoke;
}
#view:hover{
    color: purple;
    background-color: whitesmoke;
}
#view2:hover{
    color: purple;
    background-color: whitesmoke;
}
#abhi{
    color:rgb(8, 249, 0);
    font-weight: bold;
    font-size: 20px;
 
}
div ul li a:hover{
    color: rgb(41, 10, 136);
    /* background-color: black; */
}
#abhi:hover{
    color: rgb(41, 10, 136);
}
abbr{
    text-decoration:none;
}
#apply a{
    text-decoration: none;
    color: darkturquoise;
    font-size: 15px;
    visibility: visible;
}
#view a{
    text-decoration: none;
    color:darkturquoise;
    font-size: 15px;
    visibility: visible;
}
#view2 a{
    text-decoration: none;
    color: darkturquoise;
    font-size: 15px;
    visibility: visible;
}

